@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
.blue {
  color: #4aa3df; }

.purple {
  color: #9b59b6; }

.asphalt {
  color: #34495e; }

.green {
  color: #1abc9c; }

.orange {
  color: #e74c3c; }

.cloud {
  color: #ecf0f1; }

.mb20 {
  margin-bottom: 20px; }

.mb40 {
  margin-bottom: 40px; }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans",sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia,Times,Times New Roman,serif; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

p {
  margin: 0 0 10px;
  padding-left: 15px;
  padding-right: 15px; }

.banner-wrap {
  width: 100%;
  height: 100vh;
  position: relative; }

.banner {
  background: #e74c3c url("https://images.unsplash.com/photo-1422479516648-9b1f0b6e8da8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=804f24b66a792bb1d3c8ad14bb12ade5") center center;
  background-blend-mode: hard-light;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white; }

.brand {
  padding: 20em 10%; }
  .brand p.title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 0px; }
  .brand p.sub-title {
    font-size: 32px;
    font-style: italic; }

.wrapper {
  width: 640px;
  margin: 0 auto; }
  .wrapper p {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    font-line-height: 1.6; }

.social-box {
  padding: 40px 0; }
  .social-box a {
    text-decoration: none;
    color: red; }
  .social-box i {
    margin-left: 20px;
    font-size: 22px; }
